nav{
    background-color:#171616dd;
    text-align: center;
    height: 50px;
    line-height: 25px;
    padding: 15px;
    
    
}

nav a{
    padding: 15px 20px;
    color:#038C73;
}
nav a:hover{
    background-color:#014034;
    border-radius: 10px;

}

li{
    margin-bottom: 5px;
    padding-top: 30px;
    display: inline;   

}


a{
    text-decoration: none;
}